<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/pyfoto.css">
    <link rel="stylesheet" href="/static/css/bootstrap-switch.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-slider.min.css">
</head>

  <body ng-app="pyfotoApp">


        <div class="main-area full-scale">

        <div class="header-bar" ng-hide="hideHeader">
            <div class="site-title"><a href="/">PyFoto</a></div>

            <div class="dropdown user-menu">
              <button class="user-menu-button" type="button" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown">
                <li><a href="#/upload">Upload</a></li>
                <li><a href="#/user">My Profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#/logout">Logout</a></li>
              </ul>
            </div>

            <div class="perform-search">
                <form ng-submit="performSearch(searchInput)" class="form-inline">

                    <div class="input-group">
                        <label class="sr-only" for="searchInput">search</label>
                        <input id="searchInput" class="form-control" ng-model="searchInput" type="text" placeholder="Search" />
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                              </span>
                    </div>
                </form>
            </div>

        </div>

            <div ng-view class="fscale">  </div>
        </div>

        <script src="/static/js/jquery-2.1.4.js"></script>
        <script src="/static/js/angular.js"></script>
        <script src="/static/js/angular-route.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/bootstrap-switch.min.js"></script>
        <script src="/static/js/angular-bootstrap-switch.min.js"></script>
        <script src="/static/js/bootstrap-slider.min.js"></script>
        <script src="/static/js/slider.js"></script>
        <script src="/static/js/pyfoto.js"></script>
  </body>

</html>
