<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/pyfoto.css">
</head>

  <body ng-app="pyfotoApp">
        <div class="header-bar" ng-hide="hideHeader">
            <div class="site-title"><a href="/">PyFoto</a></div>

            <div class="user-menu glyphicon glyphicon-menu-hamburger"></div>

            <div class="perform-search">
                <form ng-submit="performSearch(searchInput)" class="form-inline">
                     <div class="form-group">
                        <label class="sr-only" for="searchInput">search</label>
                        <input id="searchInput" ng-model="searchInput" type="text"
                               placeholder="Search" />
                     </div>
                    <input class="hidden-submit" type="submit" />
                </form>
            </div>

        </div>

        <div class="main-area full-scale">
            <div ng-view class="full-scale">  </div>
        </div>

        <script src="/static/js/jquery-2.1.4.js"></script>
        <script src="/static/js/angular.js"></script>
        <script src="/static/js/angular-route.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/pyfoto.js"></script>
  </body>

</html>
