<a class="back-to-search" href="#/search?{{get_filters}}&start_at={{image_id}}" ng-show="current_page != 'search'">
    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Back to Search
</a>

<div class="current-search" ng-hide="current_page != 'search' || ((! (param_filters.hasOwnProperty('search'))) && start_at == 0)">
    <a href="#/search">
        <span class="glyphicon glyphicon-remove-circle" style="cursor: pointer; color:red"></span>
        Clear Filters
    </a>
</div>
