html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #333;
}

.header-bar {
    width: 100%;
    height: 42px;
    background: #1b6d85;
    margin-bottom: 2px;
}

.main-area {
    text-align: center;
    width: 100%;
    height: 100%;
}

.site-title {
    padding: 5px 10px;
    font-size: 22px;
    color: white;
    width: 75px;
    float: left;
    font-weight: bold;
}

.site-title a{
    color: white;
    text-decoration: none;
}

.the-image {
    min-width: 300px;
    max-width: 100%;
    max-height: 100%;
}

.image-data{
    border-top: #fff 1px solid;
    margin: 10px 0 0 0;
    padding: 5px 0 0 0;
    height: 100%;
}

.login-form{
    padding: 10px;
}

.tag {
    background: #999;
    -moz-border-radius:5px;
    border-radius:5px;
    padding: 1px 4px;
    margin: 3px;
    display:inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.highlight {
    background: #fff;
}

.add-tag {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.count {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.right-side {
    height: 100%;
}

.header {
    color: white;
    margin: 5px;
}

.tag-cloud {
    margin: 2px 2px 50px 2px;
    padding: 0;
    width: 100%;
    word-wrap: normal;
    height: 90%;
    overflow-y: auto;
}

.gallery {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.zoom {
    cursor: zoom-in;
}

.user-menu {
    float: right;
    width: 50px;
    height: 40px;
    font-size: 26px;
}

.user-menu:hover {
    color: white;
}

.perform-search{
    float: right;
    width: 240px;
    height: 40px;
    padding: 5px 5px;
    margin-right: 60px;
}

.contain {
    background-size: contain;
}

.gallery-image {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    float:left;
    margin: 2px;
}

.main-image {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.current-search {
    color: #fff;
    margin-top: 5px;
}

.back-to-search {
    color: #fff;
    cursor: pointer;
    margin-bottom: 5px;
}

.selector {
    background: #000;
    height: 100%;
    opacity: 0.0;
    color: #fff;
    font-size: 44px;
    align-content: center;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.max-height {
    height: 100%;
}

.max-width {
    width: 100%;
}

.selector:hover {
    opacity: .5;
    cursor: pointer;
}

.more-area {
    text-align: center;
    height: 50px;
    width: 100%;
    background: #000;
    opacity: .5;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}

.image-details{
    color: #fff;
    border-bottom: #fff 1px solid;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}

.left-side {
    padding: 0 1px;
    height: 100%;
}

.right-side{
    padding: 0 1px;
    height: 100%;
}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}

.show-filename {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.search-area .rating .filled {
    color: #e38d13;
}

.point {
    cursor: pointer;
}

.hidden-submit {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

.full-scale {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fscale{
    height: calc(100% - 42px);
   width: 100%;
    overflow: hidden;
}

.alt-view {
    overflow-x: auto;
    overflow-y: auto;
    cursor: zoom-out;
}

.user-menu-button{
    float: right;

}

.iselected{
    border: solid 2px deepskyblue;
}
.album-image{
}
